<nav id="global-navbar">
  <ul id="navbar-list">
    <li id="musingButton" ><a href="http://www.stanford.edu/~benigeri/assign4/index.html" class="selected">Musings</a></li>
    <li id="chatButton"><a href="http://www.stanford.edu/~benigeri/assign4/chat.html" >Chat</a></li>
    <li id="profileButton"><a href="http://www.stanford.edu/~benigeri/assign4/profile.html" >Profile</a></li>
  </ul>
</nav>