<nav id="global-navbar">
  <ul id="navbar-list">
    <li id="musingButton" >
      <%= link_to "Musings", root_path %>
    </li>
    <li id="chatButton">
      <a>Chat</a>
    </li>
    <li id="profileButton">
      <%= link_to "Profile", edit_user_registration_path %>
    </li>
  </ul>
</nav>