<ul id="musings">
  <% if !@musings.blank? %>
    <% @musings.each do |musing| %>
      <li class="musing">
        <div class="title">
          <%= link_to musing.title, musing %>
        </div>
        <div class="byline">
          <span class="musingDate">
            <%= l musing.created_at, :format => "%d/%m/%y at %H:%M %p" %>
          </span>
          <span class="musingAuthor">
             by <%= User.find(musing.user_id).email %>
          </span>
        </div>
        <div class="musingContent">
          <%= musing.content %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>