<script type="text/javascript">
  function toggleClass(elem) {
    $("a.pillbox").removeClass("selected");
    $(elem).addClass("selected");
  }
  function goBack(evt) {
    evt.preventDefault();
  	window.history.back();
  }
</script>
<div class="secondaryNav">
  <% if @back_button %>
    <a href="#" ontouchend="goBack(event);" class="back_button">back</a>
  <% end %>
  <% if @pillbox_sorter %>
  	<div class="pillbox" align="center">
    	<a href="#" ontouchend="toggleClass(this);" class="pillbox left selected">Recent</a>
    	<a href="#" ontouchend="toggleClass(this);" class="pillbox middle">Popular</a>
    	<a href="#" ontouchend="toggleClass(this);" class="pillbox right">Local</a>
  	</div>
  <% end %>
</div>