// Place all the styles related to the musings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.musing {
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  background: #EFEFEF;
}
li.musing:last-child {
  margin-bottom: 0px;
}

.musing .title {
  background: #2A2625;
  padding: 8px 8px 0px 8px;
  a {
    color: #fdfdfd;
    font-size: 22px;
    line-height: 26px;
  }
}

.musing .byline {
  padding: 0px 8px 5px 8px;
  color: #ABAAAA;
  background: #2A2625;
  font-size: 13px;
  line-height: 22px;
  a {
    color: #41C23F;
  }
}

.musingContent {
  color: #5c5c5c;
  line-height: 18px;
  padding: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

}

div.add_comment {
  margin-bottom: 50px;
}

div.voteCount {
  background: #3AAE39;
  float: right;
  font-size: 33px;
  font-weight: 200;
  height: 61px;
  width: 61px;
  text-align: center;
  color: #fdfdfd;
  line-height: 60px;
}

div.showMusing {
  .musingAuthor {
    font-weight: 400;
    font-size: 32px;
    a {
      color: #41C23F;
    }
  }
  .subline {
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 10px;
  }
  .musingContent {
    background: #E9E9E9;
    padding: 10px;
    font-weight: 300;
    font-size: 16px;
    color: #5c5c5c;
  }
  .votes {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
  }
  .voteButton, .votePlaceholder {
    width: 48%;
    padding: 10px 0px;
    text-align: center;
    display: block;
    font-size: 24px;
    line-height: 22px;
    font-weight: 400;
    color: #FFF;
  }

  .voteButton.sick {
    background: #3AAE39;
    float: right;
  }

  .voteButton.shit {
    background: #2A2625;
    float: left;
  }

  .votePlaceholder.sick {
    background: #E9E9E9;
    float: right;
  }

  .votePlaceholder.shit {
    background: #E9E9E9;
    float: left;
  }
}

.comments {
  margin-top: 10px;
  color: #5c5c5c;
  margin-bottom: 50px;

  .commentsTitle {
    color: #AAAAA9;
    font-weight: 200;
    font-size: 20px;
  }
  .comment {
    margin-top: 10px;
    padding: 10px;
    background: #E9E9E9;
    .commentUsername {
      color: #41C23F;
      a {
        color: #41C23F;
      }
    }
  }
}