<nav class="comment_input bar-tab">
    <div class="comment_input_wrapper">
        <input type="text" id="chatMessage" placeholder="Type in a message"></input>
    </div>
    <div class="chat_actions">
      <a id="sendChat" href="#" class="post navSubmitButton">Send</a>
    </div>
</nav>